body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 *{
  font-family: 'Rubik', sans-serif;
  margin:0px;
  box-sizing: border-box;
  padding:0px;
 }
 .menu_active{
  font-weight:bold;
  border-bottom: 10px solid rgb(90, 90, 228);
 }
 .hometext{
  position:relative;
  top:15rem;
 }
 .boxcard{
  border:2px solid black;
  height:fit-content;
  width:250px;
  padding:10px;
 }
 .boxcard p{
  margin-bottom: 0px;

 }
 .cardsection{
  display:flex;
  gap:5rem;
  flex-flow: row wrap;
  padding:2rem;
  
}
.cardsection::after
{
  flex: auto;
  content:"";
  
 }
 .tag{
  display: flex;
  align-items: center;
  gap:3px;
 }
 .clickbtns{
  display: flex;
  justify-content: space-evenly;
  gap:25px;
  background-color: rgb(182, 182, 182);
  padding:10px;
  border:2px solid black;
 }
 .btns{
  cursor:pointer;
 }
 .hbtn{
  background-color: rgb(182, 182, 182);
  border:none;
 }